/* ベーシックなスタイル */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #fff;
    line-height: 1.5;
    background-image: url("../images/bgi.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

main,
footer {
    width: 980px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 2.6rem;
    padding: 6rem 0 ;
}

h3 {
    font-size: 2rem;
}

#concept div.wrap-bg{
    background-image: url("../images/concept_bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
}

#concept div.wrap-bg h3,.wrap h3{
    width: 95%;
    margin: 0 auto;
padding: 1.6rem 0;
}

.wrap-bg-white{
    width: 100%;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.6);

}

.wrap {
width: 95%;
    height: 95%;
    margin: 0 auto;
    padding-top: 2.5vh;
}

.wrap p {
    padding: 1.6rem 0 3.2rem;
    font-size: 1.2rem;
}

#product .wrap p {
    width: 95%;
    margin: 0 auto;
}

#about .wrap-bg {
    background-image: url("../images/about_bg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: #000;
    height: 100vh;
}

#about .wrap-bg-white h3,#about .wrap-bg-white p {
width: 95%;
margin: 0 auto;
}

.site-header {
    position: static;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 77px;
    position: relative;
}

.site-header h1 {
    width: 100%;
    text-align: center;
    font-size: 8vh;
    position: absolute;
    bottom: 0;
}





.site-footer {
    padding: 18px 0;
    color: #888;
    text-align: center;
    font-size: .9rem;
    margin-top: 40px;
}


/* スライド */
.swiper {
  width: 100%;
  height: 100%;
}

/* レスポンシブ: タブレット (<=768px) */
@media (max-width: 768px) {
  header, main, footer {
    width: 100%;
    margin: 0;
  }

  .container {
    max-width: 100%;
    position: relative;
  }

  .site-header h1 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .wrap-bg-white {
    height: auto;
    padding: 40px 0;
  }

  .wrap h3, #concept div.wrap-bg h3, .wrap h3 {
    width: 100%;
    padding: 1rem 0;
  }

  .wrap p {
    font-size: 1.1rem;
  }
}

/* レスポンシブ: モバイル (<=375px) */
@media (max-width: 375px) {
  .site-header h1 {

    padding: 18px 0;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .wrap p {
    font-size: 1rem;
    padding: 1rem 0 2rem;
  }

  .site-footer {
    padding: 16px 0;
    font-size: .85rem;
  }
}