/* ベーシックなスタイル */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Zen+Antique&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
.bg-image-clip {
  width: 100%;
  height: 100%;
}

.bg-image-clip {
  color: #fff;
  line-height: 1.5;
  /* background-image: url("../images/bgi.png");
  /* デスクトップでは背景幅を100%にする */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip-path: inset(0); /* 切り抜き */
  z-index: -1;
  height: fit-content;
}

.bg-image-fixed {
  background-image: url("../images/bgi.png");
  /* デスクトップでは背景幅を100%にする */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: fixed; /* 背景を固定 */
  top: 0;
  width: 100%;
  height: 100%;
}

main,
footer {
  width: 980px;
  margin: 0 auto;
}

#concept h2 {
padding: 2rem 0;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
  padding: 6rem 0;
}

h3,strong {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

img {
  vertical-align: bottom;
}

.concept-cont-text ul {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0.5rem;
  color: #000;
	-webkit-text-stroke: 0.03px #282828;
	text-shadow: #fff 1px 1px 2px, #fff -1px 1px 2px,
	#fff 1px -1px 2px, #fff -1px -1px 2px;;
  
}

.concept-cont-text ul li {
  margin-left: 0;
}

#concept div.wrap-bg {
  
  color: #000;
}

.wrap h2 {
  width: 95%;
  margin: 0 auto;
  padding: 1.6rem 0;
}

.wrap-bg-white {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);

}

#about .wrap-bg-white {
  background-color: rgba(255, 255, 255, 0.75);
}

.wrap {
  width: 95%;
  margin: 0 auto;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

.wrap p,
table,
li {
  padding: 1.6rem 0 0.2rem;
  font-size: 1.2rem;
}

li {
  padding: 0;
}


.concept-wrap {
  background: linear-gradient(rgba(255, 255, 255, 0.5)), url("../images/IMG_0499.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  }
  

#profile {
  background-color: rgba(255, 255, 255, 0.6);
}

#profile h2 {
      padding: 6rem 0 4rem;
}

#profile .wrap p,
li {
  width: 95%;
  margin: 0 auto;
}

#about .wrap-bg {
  background-image: url("../images/about_bg.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: #000;
  height: 100%;
}

#about .wrap-bg-white h3,
#about .wrap-bg-white p,
#about li div {
  width: 95%;
  margin: 0 auto;
}

#about .wrap-bg-white {
  padding: 0;
}

.site-header {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.site-header .container img {
  width: 100%;
  margin: 0 auto;
}

.header-img {
  position: relative;
}

.header-heading {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 25%;
  margin: 0 auto;
}

.site-header h1 {
  width: 100%;
  text-align: center;
  font-size: 7.4vh;
  line-height: 4rem;
  z-index: 1;
}

.concept-wrap h3 {
  padding-bottom: 2.5vh;
}

.concept-cont {
  display: flex;
  padding-bottom: 3%;
}

.concept-cont-img {
  width: 30%;
}

.concept-cont-text {
  padding-left: 5%;
  width: 65%;
  height: auto;
}

h4 {
  padding-bottom: 0.7rem;
}

.concept-cont-text p {
  padding-top: 0;
}

.wap-bg-black {
  background-color: rgba(0, 0, 0, 0.6);
}

.site-footer {
  padding: 18px 0;
  color: #888;
  text-align: center;
  font-size: .9rem;
  margin-top: 40px;
}

.profile-img {
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url("../images/IMG_0500.JPG");
  background-size: 206%;
  background-position: center -1rem;
  margin: 0 auto 4rem;
}

.profile-text {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
}

.profile-text th,
.profile-text td {
  padding-bottom: 1rem;
}

.profile-text th {
  width: 20%;
  text-align: left;
  vertical-align: text-top;
}

.profile-text td {
  width: 70%;
  text-align: left;
}

#about li div {
  padding: 0.5rem 1rem 2rem;
}

/* スライド */
.swiper {
  width: 100%;
  height: 100%;
}

#contact {
  width: 100%;
}

#contact div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}

/*----------------------------
scroll_right ｜右から出現
----------------------------*/
.scroll_right {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    transform: translateX(30px);
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}
.scroll_right.on {
    opacity: 1.0;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    transform: translateX(0);
}

.fead_right {
  animation: fadeIn 0.8s ease 1s 1 normal backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.concept1 h2 {
  padding: 1rem 0 0;
}

/* レスポンシブ: タブレット (<=768px) */
@media (max-width: 768px) {

  header,
  main,
  footer {
    width: 100%;
    margin: 0;
  }

  .container {
    max-width: 100%;
  }

  /* モバイルではヘッダーとコンテンツを100%にする */
  .site-header {
    width: 100%;
    margin: 0;
  }

  .wrap {
    width: 100%;
  }

  body {
    background-size: cover;
  }

  .site-header h1 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
  }

  h2 {
    font-size: 2rem;
  }

  h3,strong {
    font-size: 1.6rem;
  }

  .wrap-bg-white {
    height: auto;
    padding: 1rem 0;
  }

  .wrap h3,
  .wrap h3 {
    width: 100%;
    padding: 1rem 0;
  }

  #about h3 {
    padding: 0;
  }

  .wrap p,
  table,
  li {
    font-size: 1.1rem;
  }

  

  .concept-wrap .wrap {
    width: 95%;
    padding: 0;
  }

  .concept-cont {
    display: block;
  }

  .concept-cont-img,
  .concept-cont-text {
    width: 100%;
  }

  .concept-cont-img {
    padding-bottom: 2.5vh;
  }

  .concept-cont-text {
    padding-left: 0;
  }


  h4 {
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
  }
}

/* レスポンシブ: モバイル (<=375px) */
@media (max-width: 375px) {
  .site-header h1 {
    padding: 18px 0;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3,strong {
    font-size: 1.25rem;
  }

  .wrap p,
  table,
  li {
    font-size: 1rem;
    padding: 1rem 0 2rem;
  }

  li {
    padding: 0;
  }

  .site-footer {
    padding: 16px 0;
    font-size: .85rem;
  }

  .concept-cont-img {
    padding-bottom: 1vh;
  }

  .concept-cont-text p {
    padding-top: 0;
  }

  #about {}
}

/* レスポンシブ: モバイル小 (<=425px) */
@media (max-width: 425px) {

  header,
  main,
  footer,
  .site-header {
    width: 100%;
    margin: 0;
  }

  .wrap {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  h2 {
    font-size: 2rem;
  }

  .profile-img {
    width: 55%; 
  }

  h3,strong {
    font-size: 1.1rem;
  }

  .site-header h1 {
    font-size: 6.5vh;
  }

  .wrap p,
  table,
  li {
    font-size: 0.95rem;
  }

  .concept-cont-img {
    padding-bottom: 1.5vh;
  }

  h4 {
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
  }
}

/* レスポンシブ: 超小 (<=320px) */
@media (max-width: 320px) {

  header,
  main,
  footer,
  .site-header {
    width: 100%;
    margin: 0;
  }

  .wrap {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .site-header h1 {
    font-size: 6vh;
  }

  .wrap p,
  table,
  li {
    font-size: 0.95rem;
    padding: 0.8rem 0 1.4rem;
  }

  li {
    padding: 0;
  }

  h4 {
    font-size: 1rem;
  }

  .concept-cont-text p {
    padding-top: 0;
  }
}
